# Compiled Object files
*.slo
*.lo
*.o
*.obj

# DB files

*.VC.opendb
*.VC.db

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Fahrenheitrechner/Fahrenheitrechner.VC.db
/Fahrenheitrechner/Fahrenheitrechner.VC.VC.opendb
